In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler

In [2]:
airlineData=pd.read_csv('airline_satisfaction.csv')

In [3]:
airlineData.isna().sum()

Unnamed: 0                             0
Gender                                 0
customer_type                          0
age                                    0
type_of_travel                         0
customer_class                         0
flight_distance                        0
inflight_wifi_service                  0
departure_arrival_time_convenient      0
ease_of_online_booking                 0
gate_location                          0
food_and_drink                         0
online_boarding                        0
seat_comfort                           0
inflight_entertainment                 0
onboard_service                        0
leg_room_service                       0
baggage_handling                       0
checkin_service                        0
inflight_service                       0
cleanliness                            0
departure_delay_in_minutes             0
arrival_delay_in_minutes             393
satisfaction                           0
dtype: int64

In [4]:
airlineData.dropna(how="any", axis=1, inplace=True)

# Removing unnecesary column

In [5]:
airlineData.drop(['Unnamed: 0'],axis=1,inplace =True)

In [6]:
x=airlineData.drop(['satisfaction'],axis=1)
y=airlineData[['satisfaction']]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=100)

In [8]:
airlineDataTrainCat=x_train.select_dtypes(object)
airlineDataTrainNum=x_train.select_dtypes(np.number)

In [9]:
airlineDataTrainCat

        Gender      customer_type   type_of_travel customer_class
25875     Male     Loyal Customer  Personal Travel            Eco
101252  Female     Loyal Customer  Personal Travel            Eco
44748     Male     Loyal Customer  Personal Travel            Eco
120651  Female  disloyal Customer  Business travel       Business
97265   Female     Loyal Customer  Personal Travel            Eco
...        ...                ...              ...            ...
112272  Female     Loyal Customer  Business travel       Business
98095     Male     Loyal Customer  Personal Travel            Eco
68436     Male     Loyal Customer  Business travel            Eco
49537   Female     Loyal Customer  Personal Travel            Eco
69071     Male  disloyal Customer  Business travel            Eco

[103904 rows x 4 columns]

In [10]:
oneHot=OneHotEncoder()

In [11]:
oneHot.fit(airlineDataTrainCat)

OneHotEncoder()

In [12]:
airlineDataTrainCatEncoded=oneHot.transform(airlineDataTrainCat).toarray()

In [13]:
airlineDataTrainNum=x_train.select_dtypes(np.number)

In [15]:
airlineDataTrainNum.isna().sum()

age                                  0
flight_distance                      0
inflight_wifi_service                0
departure_arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
onboard_service                      0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
dtype: int64

In [15]:
minMax=MinMaxScaler()

In [16]:
minMax.fit(airlineDataTrainNum)

MinMaxScaler()

In [17]:
airlineDataTrainNumScaled=minMax.transform(airlineDataTrainNum)

In [18]:
trainDataFinal=np.concatenate([airlineDataTrainCatEncoded,airlineDataTrainNumScaled],axis=1)

# Processing Target Variable

In [19]:
from sklearn.preprocessing import LabelBinarizer

In [20]:
lb=LabelBinarizer()

In [21]:
y_train=lb.fit_transform(y_train)

# Building Models

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, RandomForestClassifier

In [23]:
lr = LogisticRegression()
dt = DecisionTreeClassifier()
bg = BaggingClassifier()
adb = AdaBoostClassifier()
rf = RandomForestClassifier()

In [24]:
lr.fit(trainDataFinal, y_train)
dt.fit(trainDataFinal, y_train)
bg.fit(trainDataFinal, y_train)
adb.fit(trainDataFinal, y_train)
rf.fit(trainDataFinal, y_train)

C:\Users\mrawe\anaconda3\envs\TEST\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\mrawe\anaconda3\envs\TEST\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\mrawe\anaconda3\envs\TEST\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\mrawe\anaconda3\envs\TEST\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
<ipython-input-24-8325976451a2>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(trainDataFinal, y_train)

RandomForestClassifier()

In [25]:
airlineDataTestCat=x_test.select_dtypes(object)
airlineDataTestNum=x_test.select_dtypes(np.number)

In [26]:
airlineDataTestCat

        Gender      customer_type   type_of_travel customer_class
11788     Male     Loyal Customer  Business travel       Business
27136   Female     Loyal Customer  Personal Travel            Eco
58787     Male  disloyal Customer  Business travel            Eco
129552  Female     Loyal Customer  Business travel       Eco Plus
85768   Female     Loyal Customer  Business travel       Business
...        ...                ...              ...            ...
26652     Male  disloyal Customer  Business travel       Business
16168     Male     Loyal Customer  Business travel       Business
59220   Female     Loyal Customer  Personal Travel            Eco
31111     Male     Loyal Customer  Business travel       Business
111281    Male     Loyal Customer  Personal Travel            Eco

[25976 rows x 4 columns]

In [27]:
airlineDataTestCatEncoded=oneHot.transform(airlineDataTestCat).toarray()

In [28]:
airlineDataTestNum.isna().sum()

age                                  0
flight_distance                      0
inflight_wifi_service                0
departure_arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
onboard_service                      0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
dtype: int64

In [29]:
airlineDataTestNumScaled=minMax.transform(airlineDataTestNum)

In [30]:
testDataFinal=np.concatenate([airlineDataTestCatEncoded,airlineDataTestNumScaled],axis=1)

# Processing Target Variable

In [31]:
y_test=lb.fit_transform(y_test)

# Metrics

In [32]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [33]:
lrPredict = lr.predict(testDataFinal)
dtPredict = dt.predict(testDataFinal)
bgPredict = bg.predict(testDataFinal)
adbPredict = adb.predict(testDataFinal)
rfPredict = rf.predict(testDataFinal)

In [34]:
print(accuracy_score(lrPredict, y_test))
print(precision_score(lrPredict, y_test))
print(recall_score(lrPredict, y_test))
print(f1_score(lrPredict, y_test))

0.872959655066215
0.8385610490873648
0.8649241454944252
0.8515385999640094

In [35]:
print(accuracy_score(bgPredict, y_test))
print(precision_score(bgPredict, y_test))
print(recall_score(bgPredict, y_test))
print(f1_score(bgPredict, y_test))

0.9597320603634124
0.9335459861775651
0.9726735598227474
0.9527082014648702

In [36]:
print(accuracy_score(adbPredict, y_test))
print(precision_score(adbPredict, y_test))
print(recall_score(adbPredict, y_test))
print(f1_score(adbPredict, y_test))

0.9267400677548506
0.9053694843168527
0.9244548991224102
0.9148126594744618

In [37]:
print(accuracy_score(rfPredict, y_test))
print(precision_score(rfPredict, y_test))
print(recall_score(rfPredict, y_test))
print(f1_score(rfPredict, y_test))

0.9629658145980905
0.9430267588162325
0.9708994708994709
0.956760158216469